@tailwind base;
@tailwind components;
@tailwind utilities;

/* theme */
:root{
    --body_background: white;
    --body_color: black;
    --link_color: navy;
    
}

[data-theme="dark"]{
    --body_background: #282c34;
    color: white;
    --body_color: white;
    --link_color: cyan;
}

.active{
    /* background-color: #e24562 !important; */
    background-color: black !important;
    font-size: 18px;
    color: #fff;
}